header {
    height: 100vh;
    background-color: $colorBeige1;
    display: flex;
    align-items: flex-end;

    .headerContainer {
        display: flex;
        flex-direction: column;
    }

    .headerContent {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        position: relative;
        margin-bottom: 1rem;
    }
    
    .headerImage {
        width: 100%;
    }

    img {
        width: 55rem;
    }

    .headerTitle {
        color: $colorDark;
        font-size: 8.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        z-index: 2;
    }

    .headerTitleBox {
        outline: 4px double $colorBlue;
        outline-offset: -15px;
        padding: 3.5rem 5rem;
        background-color: rgba(246, 246, 246, 0.6);
    }

    h2 {
        margin: 0.5rem;
    }

    // double lined styling effect for h2
    h2.border::before, h2.border::after {
        content: " ";
		position: absolute;
		width: 100px;
		height: 4px;
		border-top: 1px solid $colorDark;
		border-bottom: 1px solid $colorDark;
		padding-bottom: 0.5px;  
    }

    h2.border:before {
		margin: 18px 0 0 -110px;
	}

	h2.border:after {
		margin: 18px 0 0 10px;
	}

	h2.border span {
		font-size: 18px;
        letter-spacing: 3px;
	}

    h3 {
        margin-top: 10rem;
        margin-right: 4rem;
        align-self: flex-end;
    }

    .headerStart {
        margin: 0 auto;
    }

    .startIcon {
        font-size: 4rem;
        color: $colorBlueLight;
    }

    .musicNotesIcon {
        width: 2.5rem;
    }
}

@media (max-width: 1388px) {
    header {
        align-items: center;

        .headerContent {
            justify-content: center;
        }

        .headerImage {
            display: flex;
            justify-content: center;
        }

        img {
            width: 54rem;
        }

        .headerTitleBox {
            padding: 3.5rem 5rem;
        }

        h3 {
            font-size: 1.4rem;
            margin-top: 10rem;
            margin-right: 0;
            align-self: right;
            position: relative;
            left: 1rem;
            bottom: 0.6rem;
        }

        .startIcon {
            font-size: 3.5rem;
        }

        .musicNotesIcon {
            width: 2rem;
        }
    }
}

@media (max-width: 1040px) {
    header {
        img {
            width: 55rem;
        }
    }
}

@media (max-width: 950px) {
    header {
        img {
            width: 50rem;
        }
    }
}

@media (max-width: 860px) {
    header {
        align-items: flex-end;

        h1 {
            font-size: 7.5rem;
        }

        h2 {
            margin: 0;
            position: relative;
            bottom: 15px;
        }      

        h2.border::before, h2.border::after {
            display: none;
        }

        .headerTitleBox {
            padding: 3rem 6rem;
        }

        .headerContent {
            flex-direction: column;
            // position: static;
            margin-bottom: 1rem;
            align-items: center;
        }

        .headerTitle {
            position: relative;
            top: 6rem;
            margin: 0 auto;
            z-index: 1;
            width: 100%;
        }
    
         .headerImage {
            width: 100%;
            display: flex;
            align-items: flex-end;
        }

        img {
            width: 39rem;
            position: relative;
            bottom: 10px;
            z-index: 2;
        }

        h3 {
            margin: 0;
            position: relative;
            display: none;
        }
    }
}

@media (max-width: 725px) {
    header {
        h1 {
            font-size: 7.5rem;
        }

        .headerTitleBox {
            padding: 3rem 5rem;
        }

        img {
            width: 38rem;
            bottom: 0;
        }
    }
}

@media (max-width: 660px) {
    header {
        h1 {
            font-size: 7rem;
        }

        img {
            width: 35rem;
        }
    }
}

@media (max-width: 615px) {
    header {
        h1 {
            font-size: 6.5rem;
        }

        img {
            width: 33rem;
        }
    }
}

@media (max-width: 580px) {
    header {
        h1 {
            font-size: 6rem;
        }

        h2 {
            margin: 0.3rem 0 0.6rem;
        }

        h2.border::before, h2.border::after {
            width: 60px;
        }

        h2.border:before {
		    margin: 18px 0 0 -70px;
	    }
        
        .headerTitleBox {
            padding: 2.5rem 4rem;
        }

        img {
            width: 30rem;
        }
    }
}

@media (max-width: 520px) {
    header {
        h1 {
            font-size: 5.5rem;
        }

        img {
            width: 28rem;
        }
    }
}

@media (max-width: 485px) {
    header {
        h1 {
            font-size: 4.7rem;
        }

        img {
            width: 25rem;
        }
    }
}

@media (max-width: 435px) {
    header {
        h1 {
            font-size: 4rem;
        }

        h2.border::before, h2.border::after {
            display: none;
        }

        h2.border span {
            font-size: 18px;
            letter-spacing: 1px;
	    }   
     
        .headerTitleBox {
            padding: 3rem 3.5rem;
        }

        img {
            width: 22rem;
        }
    }
}

@media (max-width: 385px) {
     header {
        h1 {
            font-size: 4rem;
        }

        .headerTitleBox {
            padding: 3rem 2rem;
        }

        img {
            width: 19rem;
        }
    }
}