header {
    background-image: url('../assets/undrawMusicBird.svg');
    background-size: contain;
    background-position: center left;
    background-repeat: no-repeat;
    height: 100vh;
    background-color: #ffecda;

    .headerTitle {
        text-align: right;
        font-size: 8rem;
        padding-top: 15rem;
    }

    h3 {
        margin-top: 10rem;
    }
}