main {
   text-align: center;
   
    .sectionOne, .sectionThree, .sectionFive {
        background-color: $colorBlueLight;
        height: 100vh;

        li {
            outline: 4px double $colorBlue;
        }
    }

    .sectionOne {
        h4 span::before {
            @include questionHeaderUnderline;
            width: 28%;
            background: #92D2DE;
        }
    }

    .sectionThree {
        h4 span::before {
            @include questionHeaderUnderline;
            width: 37%;
            background: #92D2DE;
        }
    }

    .sectionTwo, .sectionFour  {
        background-color: $colorBeige;
        height: 100vh;

        li {
            outline: 4px double #f3dec8;
        }

        img {
            width: 13rem;
        }
    }

    .sectionTwo {
         h4 span::before {
            @include questionHeaderUnderline;
            width: 43%;
            background: #f3dec8;  
        }
    }

    .sectionFour {
        h4 span::before {
            @include questionHeaderUnderline;
            width: 23%;
            background: #f3dec8;  
        }
    }

    .sectionFive {
        h4 span::before {
            @include questionHeaderUnderline;
            width: 16%;
            background: #92D2DE;
        }
    }
}