main {
   text-align: center;

    section {
        display: flex;
        align-items: center;

        img {
            width: 100%;
            margin: auto;
        }
    } 
    
    .sectionOne, .sectionThree {
        background-color: $colorBlueLight;
        height: 100vh;

        li {
            outline: 4px double $colorBlue;
        }
        h4{
            display: inline;
            background-image: linear-gradient(rgba(255, 255, 255, 0) 60%, #92D2DE 20%);
            mix-blend-mode: multiply;
        }
    }

    .sectionTwo, .sectionFour  {
        background-color: $colorBeige;
        height: 100vh;

        li {
            outline: 4px double #f3dec8;
        }
        h4{
            display: inline;
            background-image: linear-gradient(rgba(255, 255, 255, 0) 60%, #f3dec8 20%);
            mix-blend-mode: multiply;
        }
    }

    .sectionFive {
        h4 {
            font-size: 5rem;
            display: inline;
            background-image: linear-gradient(rgba(255, 255, 255, 0) 60%, #92D2DE 20%);
            mix-blend-mode: multiply;
        }
    }
}



@media (max-width:700px){
    main{
        .sectionOne,
        .sectionTwo,
        .sectionThree,
        .sectionFour{
            h4 span{
                margin:2rem;
            }
        }

        .sectionFive {
            h4{
                font-size:4rem;
            }
        }
        
    }
}

@media (max-width:500px){
    main{
        // .sectionOne,
        // .sectionTwo,
        // .sectionThree,
        // .sectionFour{
        //     h4{
        //     }
        // }

        .sectionFive {
            h4{
                font-size:3rem;
            }
        }
    }
}

