main {
   text-align: center;

    section {
        display: flex;
        align-items: center;

        img {
            width: 100%;
            margin: auto;
        }
    } 
    
    .sectionOne, .sectionThree, .sectionFive {
        background-color: $colorBlueLight;
        height: 100vh;

        h4 {
            background-image: linear-gradient(rgba(255, 255, 255, 0) 60%, #92D2DE 20%);
            mix-blend-mode: multiply;
            display: inline-block;
        }

        li {
            outline: 4px double $colorBlue;
        }
    }

    .sectionTwo, .sectionFour  {
        background-color: $colorBeige;
        height: 100vh;

        h4 {
            background-image: linear-gradient(rgba(255, 255, 255, 0) 60%, #f3dec8 20%);
            mix-blend-mode: multiply;
            display: inline-block;
        }

        li {
            outline: 4px double #f3dec8;
        }
    }

    .sectionFive {
        h4 {
            font-size: 5rem;
            display: inline;
        }
    }
}

@media (max-width:700px){
    main{
        .sectionFive {
            h4 {
                font-size: 4rem;
            }
        }  
    }
}

@media (max-width:500px){
    main {
        .sectionFive {
            h4 {
                font-size: 3rem;
            }
        }
    }
}
