.quizResultContainer {    
    .displaySong {
        h4 {
            @include underlineEffect(#92D2DE);
            font-size: 3.4rem;  
            padding-bottom: 0;
        }

        .displaySongImg {
            width: 34rem;
            display: block;
            padding: 1rem 0;
        }

        .songTitle {
            font-size: 2.3rem;
            margin-top: 2rem;
        }

        .artistName {
            font-size: 2rem;
            font-weight: 400;
        }
    }
}

@media (max-width: 700px){
    .quizResultContainer {
        .displaySong {
            h4 {
                font-size: 3rem;
            }

            .songTitle {
                font-size: 2rem;
            }   

            .artistName {
              font-size: 1.5rem;
            }

            .displaySongImg {
                width: 30rem;
            }
        }
    }
}

@media (max-width:570px){
    .quizResultContainer {
        .displaySong {
            h4 {
                font-size: 2.5rem;
            }

            .songTitle {
                font-size: 1.75rem;
            }   

            .artistName {
              font-size: 1.5rem;
            }

            .displaySongImg {
                width: 100%;
            }
        }
    }
}
