// 3D Button Effect from https://codepen.io/Angelfire/pen/opdDt

.btn {
    border: none;
    border-radius: 5rem;
    font-size: 1.5rem;
    color: $colorWhite;
    text-shadow: 2px 2px 0 $colorDark;
    background: #5DC8CD;
    letter-spacing: 2px;
    transition: all 0.2s;

    &:hover {
        box-shadow: 0px 0px 0px 0px #1E8185;
        margin-top: 15px;
        margin-bottom: 5px;
    }

    &Large {
        display: block;
        margin: 10px 10px 10px 0;
        padding: 1.8rem 4.3rem;
        box-shadow: 0px 5px 0px 0px #1E8185;
        text-transform: uppercase;
    }

    &Small {
      font-size: 1rem;
      width: 170px;
      height: 50px;
      background: #60C0CD;
      border: 4px double $colorWhite;

       &:hover {
           background: transparent;
           border: 4px double #60C0CD;
           text-shadow: 2px 2px 0 $colorWhite;
           color: $colorDark;
           margin: 0;
       }
    }
}