.questionContainer {
    display:flex;
    flex-wrap: wrap;
    width: 550px;
    height: 550px;
    margin: 0 auto;
    justify-content: center;
    
    li {
        width: calc(50% - 16px);
        height: calc(50% - 16px);
        margin: 8px;
        display: flex;
        box-shadow: 3px 3px 2px #bebebe;
        align-items: center;
        justify-content: center;
        outline-offset: -10px;
        background-color: rgba(246, 246, 246, 0.692);
        cursor: pointer;
        transition: opacity .2s;

        &:hover {
            opacity: 0.6;
        }

        a {
            width: 90%;
            height: 90%;
        }
    }

    // styling to be used on all question 1 options
    .squareRed {
        background-color: rgb(231, 76, 76);
    }

    .squareYellow {
        background-color: #F6D754;
    }

    .squareOrange { 
        background-color: #ffa41b;
    }

    .squareGrey {
        background-color: #b6b6b6;
    }

    .selected {
        opacity: 0.2;
    }
}


@media (max-width: 1000px) {
    .questionContainer{
        width: 500px;
        height: 500px;
    }
}

@media (max-width: 700px) {
    .questionContainer{
        width: 425px;
        height: 425px;
    }
}

@media (max-width: 500px) {
    .questionContainer{
        width: 360px;
        height: 360px;

        li {
            width: calc(50% - 10px);
            height: calc(50% - 10px);
            margin: 5px;
        }
    }
}

@media (max-width: 420px) {
    .questionContainer{
        width: 300px;
        height: 300px;
    }
}