body {
    font-family: $fontSecondary;
}

h1, h2, h3, h4 {
    font-family: $fontPrimary;
    text-shadow: 2px 2px 0 $colorWhite;
}

h1 {
    font-weight: 500;
    text-shadow: 4px 5px $colorPaleYellow, 6px 7px $colorDarkBeige;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
    font-style: italic;
    text-align: center;
}

h3 {
    font-size: 2rem;
    font-style: italic;
    font-weight: 400;
    position: relative;
    display: inline;
    background-image: linear-gradient(rgba(255, 255, 255, 0) 60%, #EADBCC 20%);
}

h4 {
    font-size: 3.5rem;
    padding-bottom: 2rem;
    position: relative;
    font-weight: 600;
    font-style: italic;
    // -webkit-text-stroke: 1px $colorDark;
    // color: transparent;
}

a {
    text-decoration: none;
    color: $colorDark;
}

@media (max-width:1000px) {
    h4 {
        font-size: 3rem;
    }
}

@media (max-width:700px){
    h4 {
        font-size: 2.7rem;
        padding-bottom: 1.7rem;
    }
}

@media (max-width:500px){
    h4 {
        font-size: 2.3rem;
        padding-bottom: 1.5rem;
    }
}