body {
    font-family: $fontSecondary;
}

h1, h2, h3, h4 {
    font-family: $fontPrimary;
}

h1 {
    font-weight: 500;
    text-shadow: 4px 5px $colorPaleYellow, 6px 7px $colorDarkBeige;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
    font-style: italic;
    text-align: center;
}

h3 {
    font-size: 2rem;
    font-style: italic;
    font-weight: 400;
    margin-right: 4rem;
    position: relative;

    & span::before {
        @include questionHeaderUnderline;
        height: 20px;
        left: 0;
        right: 110%;
        bottom: 4px;
        width: 105%;
        background: #EADBCC;
    }
}

h4 {
    font-size: 3.5rem;
    padding-bottom: 2rem;
    position: relative;
    font-weight: 600;
    font-style: italic;
    // -webkit-text-stroke: 1px $colorDark;
    // color: transparent;
}

a {
    text-decoration: none;
    color: $colorDark;
}

.btn {
    border: none;
    color: $colorDark;
    border-radius: 5rem;
    font-size: 1.5rem;
    margin: 10px 10px 10px 0;
    padding: 1.8rem 4.3rem;
    color: $colorWhite;
    text-shadow: 2px 2px 0 #a5a5a5;
    background: #5DC8CD;
    box-shadow: 0px 5px 0px 0px #1E8185;
    transition: all 0.2s;

    &:hover {
        box-shadow: 0px 0px 0px 0px #1E8185;
        margin-top: 15px;
        margin-bottom: 5px;
    }
}

// button {
//   margin-top: 1rem;
//   padding: 1.7rem 4.5rem;
//   border: none;
//   font-weight: 600;
//   font-size: 1.5rem;
//   margin: 10px 20px 10px 0;
//   color: #FFF;
//   border-radius: 5rem;
//   transition: all 0.2s;
//   background: #5DC8CD;

//   box-shadow: 0px 5px 0px 0px #1E8185;

//   &:hover {
//   margin-top: 15px;
//   margin-bottom: 5px;
//   box-shadow: 0px 0px 0px 0px #1E8185;
// }
// }
