body {
    font-family: $fontSecondary;
}

h1, h2, h3, h4 {
    font-family: $fontPrimary;
    text-shadow: 2px 2px 0 $colorWhite;
}

h1 {
    font-weight: 500;
    text-shadow: 4px 5px $colorPaleYellow, 6px 7px $colorDarkBeige;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
    font-style: italic;
    text-align: center;
}

h3 {
    font-size: 2rem;
    font-style: italic;
    font-weight: 400;
    position: relative;
    @include underlineEffect($colorBeige2);
}

h4 {
    font-size: 3.5rem;
    margin-bottom: 2rem;
    position: relative;
    font-weight: 600;
    font-style: italic;
}

a {
    text-decoration: none;
    color: $colorDark;
}

@media (max-width: 1000px) {
    h4 {
        font-size: 3rem;
    }
}

@media (max-width: 615px) {
    h1 {
        text-shadow: 3px 4px $colorPaleYellow, 5px 6px $colorDarkBeige;
    }
}

@media (max-width: 520px) {
    h1 {
        text-shadow: 2px 3px $colorPaleYellow, 4px 5px $colorDarkBeige;
    }
}

@media (max-width: 500px){
    h4 {
        font-size: 2.5rem;
    }
}

@media (max-width: 435px) {
    h1 {
        text-shadow: 1px 2px $colorPaleYellow, 3px 4px $colorDarkBeige;
    }
}