// used to constrain content on the page
.wrapper {
  margin: 0 auto;
  max-width: 1280px;
  width: 85%;
}

// styling to be used on all question 1 options
.circle {
    border-radius: 50%;
}

.circleRed {
    background-color: rgb(231, 76, 76);
}

.circleYellow {
    background-color: #F6D754;
}

.circleOrange { 
    background-color: #ffa41b;
}

.circleGrey {
    background-color: #b6b6b6;
}