//used to constrain content on the page
.wrapper {
  margin: 0 auto;
  max-width: 1280px;
  width: 85%;
}

// option section general styling
// question one (color) option styling 
.circle {
    border-radius: 50%;
}

.red {
    background-color: rgb(231, 76, 76);
}

.yellow {
    background-color: #F6D754;
}

.orange { 
    background-color: #ffa41b;
}

.grey {
    background-color: #b6b6b6;
}