@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// underline effect to be used on all headings
@mixin underlineEffect($underlineColor) {
    background-image: linear-gradient(rgba(255, 255, 255, 0) 60%, $underlineColor 20%);
    mix-blend-mode: multiply;
    display: inline;
}

// animation effect for startIcon in header
@mixin responsiveSlideInDown {
    @-webkit-keyframes slideInDown {
    0% {
      -webkit-transform: translate3d(0, -30%, 0);
              transform: translate3d(0, -30%, 0);
    }

    100% {
      -webkit-transform: translate3d(0, 40%, 0);
              transform: translate3d(0, 40%, 0);
    }
  }

  @keyframes slideInDown {
    0% {
      -webkit-transform: translate3d(0, -30%, 0);
              transform: translate3d(0, -30%, 0);
    }

    100% {
      -webkit-transform: translate3d(0, 40%, 0);
              transform: translate3d(0, 40%, 0);
    }
  }
}
