//Colors
$colorWhite: #F6F6F6;
$colorDark: #333333;

$colorBeige1: #ffefdf;
$colorBeige2: #EADBCC;
$colorDarkBeige: #c6a39a;
$colorBeigeUnderline: #f3dec8;

$colorBlue: #9ae1e5;
$colorBlue2: #60C0CD;
$colorBlueLight: #9ae1e5bb;
$colorBlueUnderline: #92D2DE;

$colorPaleYellow: #e6e6d8;

//Fonts
$fontPrimary: 'Playfair Display', serif;
$fontSecondary: 'Open Sans', sans-serif;