$colorWhite: #F6F6F6;
$colorDark: #333333;

$colorBeige: #ffefdf;
$colorDarkBeige: #c6a39a;

$colorBlue: #9ae1e5;
$colorBlueLight: #9ae1e5bb;

$colorPaleYellow: #e6e6d8;

$fontPrimary: 'Playfair Display', serif;
$fontSecondary: 'Open Sans', sans-serif;