a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.skipLink {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skipLink:focus {
  left: 0;
}

.slideInDown {
  -webkit-animation: slideInDown 1s infinite both;
  animation: slideInDown 1s infinite both;
}

@-webkit-keyframes slideInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -20%, 0);
    transform: translate3d(0, -20%, 0);
  }
}

@keyframes slideInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -20%, 0);
    transform: translate3d(0, -20%, 0);
  }
}

body {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4 {
  font-family: "Playfair Display", serif;
}

h1 {
  font-weight: 500;
  text-shadow: 4px 5px #e6e6d8, 6px 7px #c6a39a;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  font-style: italic;
  text-align: center;
}

h3 {
  font-size: 2rem;
  font-style: italic;
  font-weight: 400;
  position: relative;
}

h4 {
  font-size: 3.5rem;
  position: relative;
  font-weight: 600;
  font-style: italic;
  margin: 2rem;
}

a {
  text-decoration: none;
  color: #333333;
}

.btn {
  border: none;
  color: #333333;
  border-radius: 5rem;
  font-size: 1.5rem;
  margin: 10px 10px 10px 0;
  color: #F6F6F6;
  text-shadow: 2px 2px 0 #a5a5a5;
  background: #5DC8CD;
  -webkit-box-shadow: 0px 5px 0px 0px #1E8185;
          box-shadow: 0px 5px 0px 0px #1E8185;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn:hover {
  -webkit-box-shadow: 0px 0px 0px 0px #1E8185;
          box-shadow: 0px 0px 0px 0px #1E8185;
  margin-top: 15px;
  margin-bottom: 5px;
}

.btnLarge {
  padding: 1.8rem 4.3rem;
  text-transform: uppercase;
}

.btnSmall {
  font-size: 1rem;
  background: transparent;
  border: 1px dashed #535461;
  color: #535461;
  text-shadow: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 0;
  padding: 0.5rem 2.5rem;
}

.btnSmall:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 0;
}

@media (max-width: 1000px) {
  h4 {
    font-size: 3rem;
  }
}

@media (max-width: 700px) {
  h4 {
    font-size: 2.7rem;
  }
}

@media (max-width: 500px) {
  h4 {
    font-size: 2.3rem;
  }
}

.wrapper {
  margin: 0 auto;
  max-width: 1280px;
  width: 85%;
}

.circle {
  border-radius: 50%;
}

.red {
  background-color: #e74c4c;
}

.yellow {
  background-color: #F6D754;
}

.orange {
  background-color: #ffa41b;
}

.grey {
  background-color: #b6b6b6;
}

.selected {
  opacity: 0.2;
}

.swal2-html-container {
  font-size: 1rem;
}

.swal2-popup {
  padding: 2rem !important;
  width: 22rem !important;
}

.swal2-styled {
  background-color: #7cd1f9 !important;
  padding: 0.7rem 3rem !important;
}

.questionContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 600px;
  height: 600px;
  margin: 0 auto;
}

.questionContainer li {
  width: calc(50% - 16px);
  height: calc(50% - 16px);
  margin-top: 2rem;
  margin: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 3px 3px 2px #bebebe;
          box-shadow: 3px 3px 2px #bebebe;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline-offset: -15px;
  padding: 2rem;
  background-color: rgba(246, 246, 246, 0.6);
  cursor: pointer;
}

.questionContainer li:hover {
  opacity: 0.6;
}

.questionContainer li a {
  width: 100%;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
}

@media (max-width: 1000px) {
  .questionContainer {
    width: 500px;
    height: 500px;
  }
}

@media (max-width: 700px) {
  .questionContainer {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 500px) {
  .questionContainer {
    width: 300px;
    height: 300px;
  }
  .questionContainer li {
    width: calc(50% - 8px);
    height: calc(50% - 8px);
    margin: 4px;
  }
}

header {
  height: 100vh;
  background-color: #ffefdf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header .headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .headerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  margin-bottom: 1rem;
}

header .headerImage {
  width: 100%;
}

header img {
  width: 55rem;
}

header .headerTitle {
  color: #333333;
  font-size: 8.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 2;
}

header .headerTitleBox {
  outline: 4px double #9ae1e5;
  outline-offset: -15px;
  padding: 3.5rem 5rem;
  background-color: rgba(246, 246, 246, 0.6);
}

header h2 {
  margin: 0.5rem;
}

header h2.border::before, header h2.border::after {
  content: " ";
  position: absolute;
  width: 100px;
  height: 4px;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
  padding-bottom: 0.5px;
}

header h2.border:before {
  margin: 18px 0 0 -110px;
}

header h2.border:after {
  margin: 18px 0 0 10px;
}

header h2.border span {
  font-size: 18px;
  letter-spacing: 3px;
}

header h3 {
  margin-top: 10rem;
  margin-right: 4rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

header .headerStart {
  margin: 0 auto;
}

header i {
  font-size: 4rem;
  color: #9ae1e5bb;
}

header .musicNotesIcon {
  width: 2.5rem;
}

main {
  text-align: center;
}

main section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section img {
  width: 100%;
  margin: auto;
}

main .sectionOne, main .sectionThree {
  background-color: #9ae1e5bb;
  height: 100vh;
}

main .sectionOne li, main .sectionThree li {
  outline: 4px double #9ae1e5;
}

main .sectionOne h4, main .sectionThree h4 {
  display: inline;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, rgba(255, 255, 255, 0)), color-stop(20%, #92D2DE));
  background-image: linear-gradient(rgba(255, 255, 255, 0) 60%, #92D2DE 20%);
  mix-blend-mode: multiply;
}

main .sectionTwo, main .sectionFour {
  background-color: #ffefdf;
  height: 100vh;
}

main .sectionTwo li, main .sectionFour li {
  outline: 4px double #f3dec8;
}

main .sectionTwo h4, main .sectionFour h4 {
  display: inline;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, rgba(255, 255, 255, 0)), color-stop(20%, #f3dec8));
  background-image: linear-gradient(rgba(255, 255, 255, 0) 60%, #f3dec8 20%);
  mix-blend-mode: multiply;
}

main .sectionFive h4 {
  font-size: 5rem;
  display: inline;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, rgba(255, 255, 255, 0)), color-stop(20%, #92D2DE));
  background-image: linear-gradient(rgba(255, 255, 255, 0) 60%, #92D2DE 20%);
  mix-blend-mode: multiply;
}

@media (max-width: 700px) {
  main .sectionOne h4 span,
  main .sectionTwo h4 span,
  main .sectionThree h4 span,
  main .sectionFour h4 span {
    margin: 2rem;
  }
  main .sectionFive h4 {
    font-size: 4rem;
  }
}

@media (max-width: 500px) {
  main .sectionFive h4 {
    font-size: 3rem;
  }
}

.quizResultContainer {
  position: relative;
}

.quizResultContainer .displaySong {
  position: relative;
}

.quizResultContainer .displaySong h4 {
  font-size: 3.5rem;
  padding: 0;
  display: inline;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, rgba(255, 255, 255, 0)), color-stop(20%, #92D2DE));
  background-image: linear-gradient(rgba(255, 255, 255, 0) 60%, #92D2DE 20%);
  mix-blend-mode: multiply;
}

.quizResultContainer .displaySong .displaySongImg {
  width: 53rem;
  margin: 0 auto;
  padding-top: 2rem;
}

.quizResultContainer .displaySong .playIconImg {
  width: 1.3rem;
  position: absolute;
  top: 413px;
  right: 618px;
  cursor: pointer;
}

.quizResultContainer .displaySong .songDetails {
  position: absolute;
  width: 198px;
  top: 180px;
  right: 533px;
}

.quizResultContainer .displaySong .songTitle {
  font-size: 1.45rem;
}

.quizResultContainer .displaySong .artistName {
  font-size: 1.25rem;
  font-weight: 400;
}

.quizResultContainer .displaySong .btnSmall {
  position: absolute;
  width: 178px;
  top: 350px;
  right: 542px;
}
